<section >
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>
        Formas de Paginação

      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/modo-scroll" routerLinkActive="active">Modo Scroll</a>
        <a mat-list-item routerLink="/modo-btn" routerLinkActive="active">Modo Paginação por Botões</a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</section >

<div class="position-childrens">
  <router-outlet></router-outlet>
</div>


